# # developmemt

# #view images
# matplotlib
# matplotlib-inline

# # used to show the image in a gui 
#opencv-python

# #OCR   
# easyocr

# #for using llm
# langchain_core
# langchain-ollama
 
 
#image pre processing
opencv-python-headless
imutils

#to use .env variables
python-dotenv

#to run the backend as an api, to run the server: uvicorn main:app --reload
fastapi
uvicorn
pydantic 
python-multipart

#redis storage
redis[hiredis]

#use firebase
firebase_admin

#db connection
sqlalchemy

# use mysql db
pymysql

google-genai